<div class="row">
    <h1>Hard & Soft Skills</h1> 
    <div class="col-sm-4 col-md-4 col-lg-4">
          <circle-progress
             [percent]="85"
             [radius]="100"
             [showTitle]="true"
             [title]="'Farmacia y Salud'"
             [showUnits]="false"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="8"
             [outerStrokeColor]="'Green'"
             [innerStrokeColor]="'White'"
             [animation]="true"
             [animationDuration]="1500"
     ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="50"
           [radius]="100"
           [showTitle]="false"
           [imageSrc]="'../assets/js.jpg'"
           [showImage]="true"
           [imageHeight]="85"
           [imageWidth]="85"
           [showUnits]="false"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'purple'"
           [innerStrokeColor]="'White'"
           [animation]="true"
           [animationDuration]="1500"
   ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="50"
       [radius]="100"
       [showTitle]="true"
       [title]="'Word & Excel'"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'White'"
       [animation]="true"
       [animationDuration]="1500"
></circle-progress>
</div>

