<div class="row">
   <h1> Experiencia Laboral</h1>
   
   <div class="col-lg-11">
       <ul>
           <li><h1>Jefa de Compras y Servicios Generales</h1><h3>(1991 - 2004)</h3></li>
           <p>Responsable en lo inherente al funcionamiento vital de la institución.</ul>   
    <div class="col-lg-11">
            <ul>
                <li><h1> Administración de farmacias</h1><h3>(2005 - 2008)</h3></li>
                <p>Administración y Políticas de Financiamiento</p>               
             </ul>          
    <div class="col-lg-11">
                    <ul>
                        <li><h1>Administración sector Salud</h1><h3>(Fecha)</h3></li>
                        <p> Tareas administrativas en el sector Salud </p>







