<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
        <div>
            <a href="https://www.facebook.com/valeria.staudinger"><img src="../../../assets/facebook.png" alt="" ></a>
            <a href="https://github.com/Vale7722"><img src="../../../assets/github.png" alt=""></a>
            <a href="https://www.instagram.com/staudingervaleria/"><img src="../../../assets/instagram.png" alt=""></a>
            <a href="https://www.linkedin.com/in/maria-valeria-staudinger-0810a0227/"><img src="../../../assets/linkedin.png" alt=></a>
            <button type="button" class="btn  btn-outline-light">Ingresar</button>
        </div> 
    </div>    
